@import "tailwindcss";

@theme{
  --color-primary: black;
  --color-secondary: rgb(107 114 128); 
  --color-font: rgb(55 65 81);
  --color-white: rgb(255 255 255);
}

.opacityHeader{
  animation: appearHeader 300ms ease-in forwards;
}

@keyframes appearHeader {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

/* ===== Swiper Custom Styling ===== */
.swiper {
  padding-bottom: 3.5rem; /* space for pagination dots */
}

/* === Navigation Buttons === */
.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  color: black;
  border-radius: 9999px; /* full round */
  width: 45px;
  height: 45px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  top: 45%; /* vertically centered */
}

/* Move arrows slightly farther from edges */
.swiper-button-next {
  padding: 1rem !important;
  font-size: 10rem !important;
  color: rgb(0 0 0) !important;
}

.swiper-button-prev {
 padding: 1rem !important;
  font-size: 10rem !important;
  color: rgb(0 0 0) !important;
}



